//Цвета Для текста
$general-color: #ffffff;
$general-color-hover: #1babb3;
$black-color: #000000;
$darkGreyFoot-color: #4a4a4a;
$darkGrey-color: #5e5d5d;
$darkGreyLink-color: #5c5c5c;
$lightGrey-color: #929191;
$darkGreyArrow-color: #6b6b6b;
$service-bg-grey: #fafdfe;
$quote-bg-grey: #f2f5f6;
//---------------------------------
//Цвета для фона
$background-darkGreen: #088389;
$background-lightGreen: #00b1ba;
//---------------------------------
//Линии
$border-darkGrey: 2px solid #5c5c5c;
